$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

//sidebar
$menuBg:#304156;
$subMenuBg:#1f2d3d;
$menuHover:#001528;

/* Colors
-------------------------- */
$--color-white: #fff !default;

/* 改变主题色变量 */
$--color-primary: #ff9500;
$--color-secondary: #f18203;
$--color-success: #4cd964;
$--color-warning: #f13744;
$--color-danger: #e90a0a;
// $--color-info: #909399;
$--color-info: #ff9500;


// global
$textRed: #C03639;
$textPink: #E65D6E;
$textGreen: #30B08F;
$textTiffany: #4AB7BD;
$textYellow:#FEC171;
$textPanGreen: #30B08F;
